/*class= . e id= #
pagina principallll*/
.titulo{
    color: rgb(248, 255, 248);
}
#titulo1, #titulo2{
    color:red;
}   
ul{
    color: chartreuse;
}
a{
    color: darkorange;
}
p{
    color: rgb(248, 255, 248);
    margin: 20px 50px;
}
#letra{
    font-family: monospace;
    font-size: 50px;
}
#imagenPrincipal{
    text-align: center;
}

#cuerpoP{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;
}

/*-------------------------------------------------
pagina secundaria retrato oval*/

#tituloOval, #tituloResenaO, #tituloCriticaO{
    color: rgb(247, 173, 15);
}
#imagen{
    text-align: center;
}
#letraOval{
    font-family: monospace;
    font-size: 50px;
}
#cuerpoR{
    background-image: url(/orig_60237.jpg);
    background-size: cover;    
}

/*-------------------------------------------------
pagina secundaria corazon delator*/

h1{
    color: rgb(12, 149, 184);
}

#imagenDelator{
    text-align: center;
}
#letraDelator{
    font-family: monospace;
    font-size: 50px;    
}
#cuerpoC{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;
}

/*-------------------------------------------------
pagina secundaria maelstrom*/

#tituloMael, #tituloResena, #tituloCriticaD{
    color: rgb(153, 184, 12);
}
#letraMael{
    font-family: monospace;
    font-size: 50px;        
}
#imagenMael{
    text-align: center;
}
#cuerpoM{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;
}
/*-------------------------------------------------
pagina secundaria tonel*/

#letraTonel{
    font-family: monospace;
    font-size: 50px;        
}
#imagenTonel{
    text-align: center;
}
#cuerpoT{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;
}

/*-------------------------------------------------
pagina secundaria mascara*/

#imagenMascara{
    text-align: center;
}
#letraMascara{
    font-family: monospace;
    font-size: 50px;        
}
#cuerpoM{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;
}

/*-------------------------------------------------
pagina secundaria glosario*/

#tituloGRetrato, #tituloGCorazon, #tituloGMaelstrom, #tituloGAmontillado, #tituloGMascara{
    color: rgb(153, 184, 12);   
}
dt{ 
      color: rgb(243, 112, 6);   
}
dd{
    color: white;
}
#tituloGlosario{
    text-align: center;
}
#tituloGlosario{
    background-color: thistle;
 
    border-radius: 30px;
    border:rgb(76, 207, 87);
    border-style: solid;
    border-width:5px;
}
#cuerpoG{
    background-image: url(/32267010_1576204695821535_7624913980993044480_n.jpg);
    background-size: cover;    
}

/*
conflicto{
    background-color: red;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 50px; 
    
    padding: 150px 150px 150px 150px; 
    
    padding: 10px;

    border-top-color: blue;
    border-top-style: dashed;
    border-top-width: 50px;

    border-bottom: yellow solid 80px;
    border-right: black dotted 30px;
    border-left: green solid 10px;

    border: solid green 10px;